@import url('https://fonts.googleapis.com/css2?family=Lora&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

* {
    margin: 0;
    font-family: 'Lora', serif;
}

body {
    background-color: whitesmoke;
}

#wrapper {
    display: grid;
    width: 100%;
    height: 100%;

    grid-template-areas: 
    "nv nv nv nv"
    "hd hd hd hd"
    "s1 s1 s2 s2"
    "s3 s3 s4 s4"
    "ft ft ft ft"
    ;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 100vh auto auto 37vh;
}

/* Hem-sidan ---------------------------------------------------------------------- */

nav {
    grid-area: nv;
    background-color: rgba(112, 128, 144, 0.7);
    position: fixed;
    width: 100%;

    z-index: 1;
}

nav > ul {
    box-sizing: border-box;
    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;

}

nav > ul > #logga {
    display: flex;
    justify-content: left;
    align-items: center;
    flex: 1;
    margin-left: -1.5%;
}

nav > ul > li > p {
    position: relative;

    font-size: 170%;
    font-family: 'Nerko One', cursive;
    color: whitesmoke;
}

nav > ul > li > img {
    max-width: 8%;
    position: relative;
}

nav > ul > li > a {
    padding: 20px 40px; 
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
    color: whitesmoke;

    position: relative;


    display: flex;
    flex: 1;

}

nav > ul > li > #active {
    border-bottom: whitesmoke 2px solid;
}

nav > ul > li > a:not(#active)::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0%;
    left: 0;
    background-color: whitesmoke;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out 0s;
  

}

nav > ul > li > a:not(#active):hover::before {
    visibility: visible;
    transform: scaleX(1);
}

header {
    grid-area: hd;
    background: url("../img/sky.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hem_header > img {
    max-width: 40%;
    max-height: 40%;
}

#hem_header > h1 {
    font-size: 50px;
    font-family: 'Nerko One', cursive;
    color: whitesmoke;
    text-shadow: 0px 0px 3px slategray;
}

#hem_header > h2 {
    color: whitesmoke;
    text-shadow: 0px 0px 3px slategray;
}

#section1_hem {
    grid-area: s1;
    color: grey;
    text-shadow: 0px 0px 1px rgb(206, 206, 206);
}

#section1_hem > * {
    display: flex;
    justify-content: center;
}

#section1_hem > h3 {
    margin: 125px 30px 0px 30px;
    font-size: 35px;
}

#section1_hem > h4 {
    margin: 0px 30px 125px 30px;
    font-size: 23px;
}

#section2_hem {
    grid-area: s2;
}

#section2_hem > figure {
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}

#section2_hem > figure > img {
    max-width: 65%;

    box-shadow: 4px 4px 4px rgb(42, 49, 56);
    border-radius: 2px;
    opacity: 0.95;
}

#section3_hem {
    grid-area: s3;
}

#section3_hem > figure {
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}

#section3_hem > figure > img {
    max-width: 70%;

    box-shadow: 4px 4px 4px rgb(42, 49, 56);
    border-radius: 2px;
    opacity: 0.9;
}

#section4_hem {
    grid-area: s4;
    color: grey;
    text-shadow: 0px 0px 1px rgb(206, 206, 206);
}

#section4_hem > * {
    display: flex;
    justify-content: center;
}

#section4_hem > h3 {
    margin: 125px 30px 0px 30px;
    font-size: 35px;
}

#section4_hem > h4 {
    margin: 0px 30px 125px 30px;
    font-size: 23px;
}

footer {
    grid-area: ft;
    background: grey;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

footer > * {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
}

footer > div > * {
    color: whitesmoke;
    text-shadow: 0px 0px 3px rgb(91, 103, 116);
}

footer > div > p {
    font-size: 20px;
}

/* Meny-sidan ---------------------------------------------------------------------- */

#wrapper_meny {
    display: grid;
    width: 100%;
    height: 100%;

    grid-template-areas: 
    "nv nv nv nv"
    "hd hd hd hd"
    "se se se se"
    "ft ft ft ft"
    ;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 40vh auto 37vh;

}

#meny_header > h1 {
    font-size: 50px;
    color: whitesmoke;
    text-shadow: 0px 0px 3px slategray; 
}

#section_meny {
    grid-area: se;

    background: url("../img/sky.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

#section_meny > ul {
    list-style: none;

    display: flex;
    flex-direction: column;

    background-color: rgba(112, 128, 144, 0.5);
    margin: 0% 5% 10% 10%;
    padding: 20px;
}

#section_meny > ul > li {
    display: flex;
    flex-direction: row;

    margin: 30px;
}

#section_meny > ul > li > * {
    margin: 10px;
    color: whitesmoke;
    text-shadow: 0px 0px 3px slategray;
} 

#section_meny > ul > li > img {
    max-width: 12%;

    box-shadow: 3px 3px 4px rgb(42, 49, 56);
    border-radius: 2px;
    opacity: 0.85;
}

/* Omoss-sidan ---------------------------------------------------------------------- */

#wrapper_omoss {
    display: grid;
    width: 100%;
    height: 100%;

    grid-template-areas: 
    "nv nv nv nv"
    "hd hd hd hd"
    "s1 s1 s1 s1"
    "s2 s2 s2 s2"
    "ft ft ft ft"
    ;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 40vh auto 40vh 37vh;
}

#omoss_header > h1 {
    font-size: 50px;
    color: whitesmoke;
    text-shadow: 0px 0px 3px slategray; 
}

#section1_omoss {
    grid-area: s1;
    background: url("../img/sky.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

#section1_omoss > div {
    z-index: 1;
    background-color: rgba(112, 128, 144, 0.5);

    margin: 0% 15%;
    padding: 4% 0%;

}

#section1_omoss > div > p {
    margin: 4% 15%;
    color: whitesmoke;
    font-size: 20px;

    text-shadow: 0px 0px 3px slategray;

}

#section2_omoss {
    grid-area: s2;

    background: url("../img/sky.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

#section_omoss > ul {
    list-style: none;

    display: flex;
    flex-direction: column;
}

#section_omoss > ul > * {
    margin: 30px;
}

/* 
    testa med olika browsers
    skisser ska in
    color checker 
    skriv om att lite 채ndringar fr책n skisser
    filma in sin sida

    l채gga in logga i clasroom

    fr책gor

*/